.dashbaord {

    width: 100%;
    background-color: #e7eaf6;

    .test_cases {
        margin: 30px;
        display: flex;
        flex-direction: column;

        .test_case {            
            margin: 30px 0px;
        }
    }

}