.chart_scrollbar_parent{
    width: 100%;
    overflow-x: auto;

    --scroll-count:0;
    .chart_scrollbar{
        background-color: silver;
        height: 1px;
        visibility: hidden;
        width: calc(100% * var(--scroll-count));
    }
}

.chart_scrollbar_parent2{
    display: flex;
    justify-content: space-between;
    .chart_scrollbar2{
        width: 100%;
    }

    .scroll_count{
        margin-left: 20px;
    }

}
