.api_metrics {

    border: solid rgba(116, 116, 131, 0.459) 2px;
    background-color: rgb(252 252 255);
    border-radius: 5px;

    .api_metrics_legened {
        width: max-content;
        margin-left: 40px;
        padding: 0px 10px;
        max-width: calc(100% - 80px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .overall_api_metrics {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .overall_api_metric {
            flex-basis: calc(100% - 40px);
            max-width: calc(100% - 40px);

            @media only screen and (min-width: 1200px) {
                flex-basis: calc(50% - 40px);
                max-width: calc(50% - 40px);
            }

            background-color: white;
            box-shadow: 10px 10px 38px -21px rgba(0, 0, 0, 0.78);
            outline: solid 1px #dbdddf7d;
            min-height: 400px;
            margin-top: 40px;

            &:nth-last-of-type(1),
            &:nth-last-of-type(2) {
                margin-bottom: 40px;
            }

        }
    }
}