.api_metrics_overview {
    @import "../../../../node_modules//bootstrap/scss//bootstrap.scss";
    height: 100%;
    padding: 20px;

    .title{
        // text-align: center;
        font-weight: 900;
        margin-bottom: 20px;
        font-size: 1.4rem;
    }

    .tbl {
        table {
            @media only screen and (max-width: 1400px) and (min-width: 1200px) {
                td,th{
                    padding: 4px;
                }
            }
            @media only screen and (max-width: 1000px) {
                td,th{
                    padding: 0px;
                }
            }
            
        }
    }
}