.api_metrics_overview {
    @import "../../../../node_modules//bootstrap/scss//bootstrap.scss";
    height: 100%;
    padding: 20px;

    .title{
        // text-align: center;
        font-weight: 900;
        margin-bottom: 20px;
        font-size: 1.4rem;
    }

    .tbl {
        table {

            
        }
    }
}